In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from os import path

In [6]:
file_name = path.join(path.curdir,'../data/external/countries.csv')
df = pd.read_csv(file_name)

In [7]:
df.head()

       country continent  year  lifeExpectancy  population  gdpPerCapita
0  Afghanistan      Asia  1952          28.801     8425333    779.445314
1  Afghanistan      Asia  1957          30.332     9240934    820.853030
2  Afghanistan      Asia  1962          31.997    10267083    853.100710
3  Afghanistan      Asia  1967          34.020    11537966    836.197138
4  Afghanistan      Asia  1972          36.088    13079460    739.981106

In [24]:
df.country.sort_values(ascending=False)

1703       Zimbabwe
1696       Zimbabwe
1702       Zimbabwe
1692       Zimbabwe
1693       Zimbabwe
           ...
7       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
0       Afghanistan
Name: country, Length: 1704, dtype: object