In [5]:
import pandas as pd
from pandas import isnull
import numpy as np
from os import path

In [6]:
def mem_mib(df):
    print("{0:.2f} Mib".format(df.memory_usage().sum()/(1024*1024)))

def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])
    
def recent_nhl_only(df):
    return df[(df["lgID"] == "NHL") & (df["year"] >= 1980)]

In [8]:
# Process the Scoring.csv file
file_name = path.join(path.curdir,'../data/external/advpandas/Scoring.csv')
scoring = pd.read_csv(file_name)
mem_mib(scoring)
scoring.shape
scoring = recent_nhl_only(scoring)
print(scoring.shape)
mem_mib(scoring)
scoring = scoring.filter(regex="^(?!(Post|PP|SH)).*")
mem_mib(scoring)
print(scoring.shape)

scoring = scoring.iloc[:, [0,1,3,6,7,8,9,14]]
mem_mib(scoring)
print(scoring.shape)
make_categorical(scoring,"tmID")
mem_mib(scoring)
scoring = scoring.reset_index(drop=True)
p_file_name = path.join(path.curdir,'../data/external/advpandas/processed/Scoring.pickle')
scoring.to_pickle(p_file_name)
scoring.head()

10.87 Mib
(28616, 31)
6.99 Mib
3.49 Mib
(28616, 15)
1.96 Mib
(28616, 8)
1.78 Mib

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0