In [15]:
import pandas as pd
from pandas import isnull
import numpy as np
from os import path

In [16]:
def mem_mib(df):
    print("{0:.2f} Mib".format(df.memory_usage().sum()/(1024*1024)))

def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])
    
def recent_nhl_only(df):
    return df[(df["lgID"] == "NHL") & (df["year"] >= 1980)]

In [17]:
file_name = path.join(path.curdir,'../data/external/advpandas/TeamSplits.csv')
teamSplits = pd.read_csv(file_name)
recent_nhl_only(teamSplits)
teamSplits.head()

,year,lgID,tmID,hW,hL,hT,hOTL,rW,rL,rT,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
0,1909,NHA,COB,2,4,0.0,NaN,2,4,0.0,...,0.0,NaN,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1909,NHA,HAI,3,3,0.0,NaN,1,5,0.0,...,0.0,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1909,NHA,LES,2,4,0.0,NaN,0,6,0.0,...,0.0,NaN,1.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1909,NHA,MOS,3,2,1.0,NaN,0,6,0.0,...,0.0,NaN,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
4,1909,NHA,MOW,6,0,0.0,NaN,5,1,0.0,...,0.0,NaN,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
cols_to_drop = teamSplits.columns[3:11]
teamSplits = teamSplits.drop(columns = cols_to_drop)
teamSplits = teamSplits.drop(columns = "lgID")
make_categorical(teamSplits,"tmID")

In [21]:
p_file_name = path.join(path.curdir,'../data/external/advpandas/processed/TeamSplits.pickle')
teamSplits.to_pickle(p_file_name)