In [1]:
import pandas as pd

In [71]:
emp_df = pd.DataFrame([
    ['E1', 'BALWINDER KATOCH', 'FIN'],
    ['E2', 'MAMTA KATOCH', 'HR'],
    ['E3', 'ARYAN KATOCH', 'ENG'],
    ['E4', 'AADI KATOCH', 'ENG'],
    ['E5', 'Kunal Kumar', ''],
], columns=["EMP_ID","NAME","DEPT"])

dept_df = pd.DataFrame([
    ['FIN', 'Finance'],
    ['ENG', 'Engineering'],
    ['HR', 'Human Resource']
], columns=["DEPT_ID","NAME"])
dept_df.set_index('DEPT_ID', inplace=True)
emp_df.set_index('EMP_ID', inplace=True)

In [72]:
pd.merge(emp_df,dept_df,how="left", left_on="DEPT", right_on="DEPT_ID", suffixes=("_EMP","_DEPT"))

           NAME_EMP DEPT       NAME_DEPT
0  BALWINDER KATOCH  FIN         Finance
1      MAMTA KATOCH   HR  Human Resource
2      ARYAN KATOCH  ENG     Engineering
3       AADI KATOCH  ENG     Engineering
4       Kunal Kumar                  NaN

In [78]:
dept_group = emp_df.groupby('DEPT')
obj = dict(dept_group.size())
obj

{'': 1, 'ENG': 2, 'FIN': 1, 'HR': 1}

In [85]:
# pd.merge(emp_df,dept_df, left_on="DEPT", right_on="DEPT_ID")
pd.merge(dept_df,emp_df, left_index=True, right_on="DEPT", suffixes=["_D","_E"])

                NAME_D            NAME_E DEPT
EMP_ID
E1             Finance  BALWINDER KATOCH  FIN
E3         Engineering      ARYAN KATOCH  ENG
E4         Engineering       AADI KATOCH  ENG
E2      Human Resource      MAMTA KATOCH   HR