In [2]:
from os import path
import numpy as np
import pandas as pd

In [46]:
file_name = path.join(path.curdir,'../data/external/FX-2019.csv')
df = pd.read_csv(file_name,names=["Date", "Time", "Open", "High", "Low","Close","Volume"])

In [47]:
#Merge Date & Time column into single column and convert the data type to datetime
df["DateTime"] = pd.to_datetime(df["Date"].str.cat(df["Time"],sep=" "))

#Delete Date & Time Columns
df.pop("Date")
df.pop("Time")
# Bring DateTime column to the beginning
df = df[["DateTime", "Open", "High", "Low","Close","Volume"]]

             DateTime     Open     High      Low    Close  Volume
0 2019-01-01 17:02:00  1.14598  1.14599  1.14598  1.14598       0
1 2019-01-01 17:03:00  1.14598  1.14607  1.14598  1.14607       0
2 2019-01-01 17:04:00  1.14607  1.14607  1.14606  1.14606       0
3 2019-01-01 17:05:00  1.14606  1.14621  1.14606  1.14621       0
4 2019-01-01 17:06:00  1.14619  1.14666  1.14604  1.14665       0

In [51]:
open_prices = df["Open"].values
print('Mean : {}'.format(np.mean(open_prices)))
print('Median : {}'.format(np.median(open_prices)))
print('StdDev : {}'.format(np.std(open_prices)))

Mean : 1.1195358429656672
Median : 1.11971
StdDev : 0.013502629194323821

In [56]:
np.sort(open_prices)[::-1]

array([1.15695, 1.15692, 1.15691, ..., 1.0881 , 1.08808, 1.08803])

In [58]:
np.max(open_prices)-np.min(open_prices)

0.06892000000000009