In [2]:
import pandas as pd
import numpy as np
from os import path

In [40]:
file_name = path.join('../../data/required/artwork_data.csv')
COLS_TO_USE = [
    "id","artist","title","medium", 'year', 'acquisitionYear','height', 'width', 'height', 'units'
]
art_work = pd.read_csv(file_name, index_col="id", usecols=COLS_TO_USE)

C:\Users\vicky\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [71]:
art_work["artist"].value_counts()

Turner, Joseph Mallord William    39389
Jones, George                      1046
Moore, Henry, OM, CH                623
Daniell, William                    612
Beuys, Joseph                       578
                                  ...
Troubetzkoy, Paul                     1
Harrison, Paul                        1
Lieber, Tom                           1
Chandler, J.W.                        1
Saint-Gaudens, Augustus               1
Name: artist, Length: 3336, dtype: int64

In [67]:
art_work.shape

(69201, 8)

In [77]:
df = art_work[art_work["artist"]=="Jones, George"]
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
7249,"Jones, George",[title not known],Ink on paper,NaN,1888.0,NaN,NaN,NaN
7250,"Jones, George",[title not known],Ink and graphite on paper,NaN,1888.0,NaN,NaN,NaN
7251,"Jones, George",[title not known],Ink and watercolour on paper,NaN,1888.0,NaN,NaN,NaN
7252,"Jones, George",[title not known],Ink on paper,NaN,1888.0,NaN,NaN,NaN
7253,"Jones, George",[title not known],Ink and watercolour on paper,NaN,1888.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
7737,"Jones, George","Cawnpore, the Passage of the Ganges at Cawnpor...",Oil paint on canvas,1869,1869.0,1092,2083,mm
7738,"Jones, George",Cader Idris,Watercolour and graphite on paper,NaN,1888.0,279,190,mm
7739,"Jones, George",Near Dolgelly,Watercolour on paper,NaN,1888.0,279,190,mm
7740,"Jones, George","The Burning Fiery Furnace, study for N00389",Watercolour on paper,1832,1975.0,546,403,mm
23100,"Jones, George",A Ship,"Watercolour, graphite and gouache on paper",NaN,1997.0,126,128,mm

In [120]:
# art_work["artist"].nunique()
pd.unique(art_work["artist"]).size

3336

In [125]:
print(art_work[art_work["artist"] == "Bacon, Francis"].size)
s = art_work["artist"] == "Bacon, Francis"
print(s.value_counts())
a_counts = art_work["artist"].value_counts()
a_counts["Bacon, Francis"]

400
False    69151
True        50
Name: artist, dtype: int64

50

In [161]:
art_work["width"] = pd.to_numeric(art_work["width"],errors="coerce")
art_work["height"] = pd.to_numeric(art_work["height"],errors="coerce")
art_work["area"] = art_work["height"] * art_work["width"]

In [176]:
art_work.loc[art_work["area"].idxmax(),:]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
area                                      1.32462e+08
Name: 98367, dtype: object